body {
	/* background-color: #EAEAEA; */
	/* background-image: url("https://cdn.dribbble.com/users/6117646/screenshots/14975149/media/8f26446e227baeb76f1ae01e8dc1c558.gif"); */
	font-family: sans-serif;
	display: flex;
  padding: 40px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	margin: 10px;
}

.box {
	background-color: hsl(300, 1%, 14%);
	border-radius: 10px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	margin: 10px;
	width: 300px;
	height: 200px;
	transform: translateX(200%);
	transition: transform 0.4s ease;
}


.box:nth-of-type(even) {
	transform: translateX(-200%);
}

.box.show {
	transform: translateX(0);
}